*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: auto;
}
body{
    background-color: rgb(230, 230, 230);
}
h1{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgba(144, 194, 228, 0.473);
}
input{
    padding: 2px;
    border: 1px solid rgb(201, 195, 195);
    margin-top: 15px;
}
input[type="text"]{
    width: 130px;
    border-radius: 3px;
}
input[type="submit"]{
    border-radius: 3px;
}
.tarefas{
    background-color: white;
    margin: 20px auto;
    max-width: 700px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
.list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.list > div{
    flex: 1;
    background-color: rgb(159, 230, 230);
    margin: 2px;
    padding: 10px 2px;
    border-radius: 4px;
    text-align: center;
    word-wrap: break-word;
    width: 50%;
}
i{
    color: rgb(5, 81, 180);
}